@page
<div>

    <h1>Weatherforecast measurement stream</h1>
</div>
<div>
    <div>
        <hr />
    </div>
</div>
<div>
    <div>
        <ul readonly id="measurementList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>